@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<main id="hero">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/img/PestKontroll-logo.png"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">PestKontroll, a great bug tracker</h1>
                <p class="lead">A simple, fast and scalable mutli-tenant bug tracking system written in ASP.NET Core MVC.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <span>
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg px-4 me-md-2">Demo</a>
                        <a href="https://github.com/alexnaev/PestKontroll" class="btn btn-outline-primary btn-lg px-4">Git Repo</a>
                    </span>
                </div>
            </div>
        </div>
    </div>